/*
C6C8AE
962B2A
38292A

5C221D
A62C1A
D1A76A
977D5A
B5B39F

F9F8F9
9F9A9D
ABB3B8
988C91
676C75
*/



body {
  padding: 0;
  margin: auto;
  background-color: #261F11;
  text-align: center;
}

#defaultCanvas0{
  margin-top: 20px;
}
